@()


<form action="/vacations" method="GET">
    <input type="radio" name="order" id="asc-order" value="asc" checked>
    <label for="asc-order">Asc</label>
    <input type="radio" name="order" id="dsc-order" value="dsc">
    <label for="dsc-order">Dsc</label>
    <input type="date" name="from" id="from-date">
    <label for="from-date">From Date</label>
    <input type="date" name="to" id="to-date">
    <label for="to-date">Until Date</label>

    <button type="submit">Submit</button>
</form>
<div id="vacations-data">

</div>
