@(vacs: Seq[Vacation], nowTime: Long)

<table class="table">
    <tr>
        <th scope="col">startDate</th>
        <th scope="col">endDate</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    @for(vac <- vacs) {
        <tr>
            <td>@java.time.Instant.ofEpochMilli(vac.startDate.value)</td>
            <td>@java.time.Instant.ofEpochMilli(vac.endDate.value)</td>
            @if(vac.startDate.value > nowTime) {

                <td><button value="@vac._id.get.stringify" onclick="editVac(this)">Edit</button></td>
                <td><button value="@vac._id.get.stringify" onclick="delVac(this)">Delete</button></td>
            }
        </tr>
    }
</table>
